.skill{
    padding: 15px;
    background-color: rgb(43, 42, 42);
    border-radius: 14px;
    opacity:0.8;
    background-blend-mode:rgb(173, 164, 164); ;
    
}
.skill:hover{
    box-shadow: rgba(121, 113, 113, 0.56) 0px 22px 70px 4px;
}
.my{
    color: deeppink;
}
.skills{
    color:rgba(192, 236, 247, 0.801)
}
.hr1{
    border-bottom: 2px solid rgb(230, 252, 135);
}
.animation-img{
    background-image: url("https://cdn.dribbble.com/users/891352/screenshots/10588924/media/7fd4418303ab6d1332a15517a126bffd.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    opacity: 1.21;
     
}
.ifream{
    width:100%;height:0px;position:relative;padding-bottom:75.000%;
}
.ifream2{
    width:100%;height:100%;position:absolute;left:0px;top:0px;overflow:hidden;
}