.skill{
    padding: 15px;
    background-color: rgb(71, 70, 70);
    border-radius: 14px;
    
}
.skill:hover{
    box-shadow: rgba(121, 113, 113, 0.56) 0px 22px 70px 4px;
}
.my{
    color: deeppink;
}
.skills{
    color:rgba(192, 236, 247, 0.801)
}
.hr1{
    border-bottom: 2px solid rgb(230, 252, 135);
}


