.logo{
     width: 30px;
    border-radius: 40%;
    background-color: aqua;
    padding: 5px;
    font-size: larger;
    font-weight: 800;
}
.header{
    border-bottom: 1px solid rgb(184, 248, 223)!important;
}