 
.mehedi{
width: 500px!important;
background-color: rgb(255, 252, 252);
border: 4px solid rgb(95, 93, 93);
 
border-radius: 50%;
}
.about-me{
    margin-top: 100px;
    
     
}
 

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
   font-family: 'Lato', sans-serif;
}

/* .btn-container {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
   
} */

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background-color: rgb(49, 53, 53);
  color:black
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}