.service{
    border: 1px solid gray;
    background-color:rgba(71, 70, 68, 0.801) ;
    border-radius: 15px;
    padding: 20px;
}
.service:hover{
    box-shadow: rgba(129, 124, 124, 0.35) 0px -50px 36px -28px inset;
}
.my2{
    color: khaki;
}
.ser{
    color: rgb(156, 170, 159);
}
.hr3{
    border-bottom: 2px solid rgb(128, 11, 245);
}