.project{
    border: 1px solid gray;
    border-radius: 20px;
    background-color: rgba(58, 55, 55, 0.808);
    
}
.project img{
     border-radius: 20px;
}
.project button{
    margin-top:-50px ;
   
}
/* .btn-container{
    display: none!important;
}
.project:hover.btn-container{
    display: inline;
} */
.project-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 30px;
}
@media only screen and (max-width: 600px) {
    .project-container{
        grid-template-columns:repeat(1,1fr);
    }
  }